.pokemon-list-wrapper {
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
}

.pokemon-footer {
    position: fixed;
    top: 92%;
    height: 8%;
    width: 100%;
    /* padding: 12px; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pokemon-footer button {
    padding: 6px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
