* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pokedex-heading {
    text-align: center;
    margin: 15px auto;
    letter-spacing: 4px;
    margin-top: 5px;
    text-decoration: none;
}

.pokedex-heading Link {
    text-decoration: none;
}